/* Kan ha en class så blir det inte kollison med andra footer */
.footer {
    background-color: black;
    /* border-radius: 5px;  */
    border: 2px solid white;
    border-radius: 5px;
}

.h1_footer,
.author {
    color: white;
    text-align: center;
}

